<!DOCTYPE html>

<html lang="en">
<head>
  {% block title %}<title>Chorz - A Better Chore Manager</title>{% endblock %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  {% load static %}
  <link ref="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h3 class="main_link my-0 mr-md-auto font-weight-normal"><a class="main_link text-dark" href="/">
            Chorz - A Better Chore Manager</a></h3>
    <nav class="my-2 my-md-0 mr-md-3"></nav>
    {% if logged_in_user.username %}
        <a class="btn btn-outline-primary" href="/accounts/logout">Logout</a>
    {% else %}
        <a class="btn btn-outline-primary" href="/accounts/login">Login</a>
    {% endif %}
  </div>
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
